/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.submit-form__request-call {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 0;
	border: 2px solid #107A71;
	border-radius: 5px;
	padding: 15px 40px;
	font-size: 20px;
	color: #07231B;
	line-height: 150%;
}
.submit-form__request-button {
	border-radius: 5px;
	background: #107A71;
	font-size: 20px;
	line-height: 150%;
	color: #fff;
	padding: 15px 40px;
	border: 0;
	margin-right: 30px;
}


/* Breadcrumbs start*/
.breadcrumbs-wrapper {
	margin-top: 50px;
	margin-bottom: 60px;
}
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.breadcrumbs__text {
	font-size: 16px;
	line-height: 131%;
	color: #232c30;
}
.breadcrumbs__text--main {
	position: relative;
	padding-right: 28px;
	margin-right: 20px;
	color: #4d635d;	
}

.breadcrumbs__text--main::after {
	content: '';
	position: absolute;
	display: inline-block;
	border-top: 1px solid #107A71;
	border-right: 1px solid #107A71;
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 8px;
	right: 0;
}
/* Breadcrumbs end*/

/* Prices start */
.prices__card__title-wrap div {
	display: none;
}
.prices {
	margin-bottom: 120px;
}
.prices__card {
	margin-bottom: 40px;
}
.prices__card::after {
	content: '';
	display: block;
	border-bottom: 1px solid #dbe8e6;
	width: 100%;
	padding-top: 40px;
}
.prices__card:last-child::after {
	content: '';
	display: block;
	border-bottom: 0;
	padding-top: 0;
}
.prices__title {
	font-family: Oswald;
	font-size: 64px;
	font-weight: 400;
	line-height: 95px;
	margin-bottom: 70px;	
}
.prices__title::after {
	content: '';
	display: block;
	border-bottom: 1px solid #dbe8e6;
	width: 100%;
	padding-top: 30px;
}
.prices__card-title {
	margin-bottom: 30px;
}
.prices__card-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 36px 40px 37px 40px;
	font-size: 18px;
	line-height: 27px;
}
.prices__card-item:nth-child(odd){
	background: #DDF0EC;
}
/* Prices end */


/* Banner styles start */
.banner {
	margin-bottom: 160px;
}

.banner__wrapper {	
	display: -ms-grid;	
	display: grid;
	-ms-grid-columns: 1.8fr 1fr;
	grid-template-columns: 1.8fr 1fr;

	border-radius: 15px;
	background: -o-linear-gradient(232.04deg, rgb(16, 122, 113) 21.767%,rgb(63, 173, 136) 94.19%);
	background: linear-gradient(217.96deg, rgb(16, 122, 113) 21.767%,rgb(63, 173, 136) 94.19%);
	color: #fff;
	padding: 0 40px;
	max-height: 411px;
}
.banner__info {
	margin-bottom: 55px;
}
.banner__title {
	font-size: 50px;
	padding-top: 40px;
	margin-bottom: 27px;
	line-height: 120%;
}
.banner__summary {
	/* max-width: 569px; */
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 43px;
}
.banner__summary span {
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	}
.form__input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.banner__form-field {
	width: 100%;
	border-radius: 5px;
	background: #EEF8F6;
	font-size: 16px;
	line-height: 131%;
	color: #84928E;
	margin-bottom: 40px;
	border: none;
	padding: 20px;
	margin-right: 40px;
}
.form__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.banner__request-call {
	border: 0;
	color: #232C30;
	margin-right: 55px;
}
.banner__form-policy {
	max-width: 380px;
	color: #fff;
}
.banner__img {
	max-height: 411px;
}
.banner__pic {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
/* Banner styles end */

@media only screen and (max-width:768px) {
	.breadcrumbs-wrapper {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.breadcrumbs__text {
		font-size: 13px;
		line-height: 161%;
	}
	.breadcrumbs__text--main {
    padding-right: 15px;
    margin-right: 15px;
}
	.breadcrumbs__text--main::after {
    width: 6px;
    height: 6px;
    top: 7px;
}
/*Breadcrumbs styles end*/

/*Prices styles start*/
.prices__card__title-wrap div {
	display: block;
}
.prices {
	margin-bottom: 90px;
}
.prices__card {
	margin-bottom: 24px;
}
.prices__card::after {
	padding-top: 24px;
}
.prices__card__title-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.prices__card__title-wrap div {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.prices__card__title-wrap div.open {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}
.prices__title {
	font-size: 32px;
	line-height: 47px;
	margin-bottom: 24px;	
}
.prices__title::after {
	padding-top: 16px;
}
.prices__card-item {
	padding: 25px 20px 26px 20px;
	font-size: 13px;
	line-height: 150%;
}
/*Prices styles end*/

/*Banner styles start*/
.banner {
	margin-bottom: 90px;
}
.banner__wrapper {	
	-ms-grid-columns:1fr;	
	grid-template-columns:1fr;
	padding: 0 20px;
	max-height: 100%;
}
.banner__info {
	margin-bottom: 20px;
}
.banner__title {
	font-size: 28px;
	padding-top: 24px;
	margin-bottom: 20px;
}
.banner__summary {
	font-size: 15px;
	margin-bottom: 30px;
}
.banner__summary span {
	font-size: 15px;
	line-height: 133%;
	}
	.form__input {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.banner__form-field {
		font-size: 13px;
		line-height: 162%;
		margin-bottom: 20px;
		padding: 15px 18px;
		margin-right: 0;
	}
	.form__button {
		padding-top: 10px;
	}
	.banner__request-call {
		font-size: 15px;
		max-width: 175px;
		margin-right: 0;
		padding: 16px 0;
		color: #107a71;
		margin-bottom: 20px;
	}

/*Banner styles end*/
}